* {
  margin: 0;
 padding: 0;
 box-sizing:border-box;

}
body{
  background-color:cornsilk;
}

.navBar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color:cornsilk;
  height: 90px;
  
}

.navBarLinks {
  display:flex;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  width:900px;
  height:100px;
}

.catLogo
{
  width: 100px;
  height:100px;
}

.home{
  background-color: #9089c3;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeImg{
  width: 70%;
  height: auto;
  margin-top: 20px;
  max-width: 100%;
  max-height: calc(90vh-20px);
  margin: auto;
  display: block;

}

.nav-link {
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: transparent; 
  color: #0f33d1;
  text-decoration: none;
  font-weight: bold; 
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
 
}



